<h2 class="mb-6 text-2xl font-bold text-p-900">Orders</h2>

<div class="overflow-x-auto bg-white shadow rounded-2xl">
    <table class="w-full text-sm">
        <thead class="bg-gray-100">
            <tr>
                <th class="p-3 text-left">Order ID</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="p-3">#1</td>
                <td>Nguyễn Văn A</td>
                <td>277.000đ</td>
                <td>
                    <select class="px-2 py-1 border rounded">
                        <option>pending</option>
                        <option>completed</option>
                        <option>cancelled</option>
                    </select>
                </td>
                <td>
                    <a href="order-detail.html" class="font-semibold text-p-900"> View </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
