<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tea Station</title>
        <link rel="icon" type="image/png" href="../public/assets/logo.png" />

        <!--------------- 

    CSS
    
    ----------------->
        <link type="text/css" rel="stylesheet" href="../public/css/showHideNav.css" />
        <link type="text/css" rel="stylesheet" href="../public/css/responsive-tabs.css" />
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
        <link rel="stylesheet" type="text/css" href="../public/css/animated-counter-prograssbar.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link href="../public/css/animation.css" rel="stylesheet" />
        <link href="../dist/output.css" rel="stylesheet" />

        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap"
            rel="stylesheet"
        />

        <!-- JQuery -->

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>

        <!--------------- 

    Scripts
    
    ----------------->
        <script src="../public/js/jquery.hidescroll.js" defer></script>
        <script src="../public/js/jquery.responsiveTabs.js" defer></script>
        <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="../public/js/animated-counter-prograssbar.js" defer></script>
        <script defer src="https://unpkg.com/counterup2@2.0.2/dist/index.js"></script>
        <script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script defer type="module" src="../public/js/main.js"></script>
    </head>
    <body>
        <!----------------- 
        Navigation
    ------------------>
        <header class="relative z-50">
            <div class="flex items-center justify-center navbar">
                <div class="flex items-center justify-between w-full px-4 py-4 max-w-384 md:py-10 md:px-18">
                    <!-- Logo -->
                    <a href="./" class="flex items-center justify-center flex-none">
                        <img src="../public/assets/logo.png" alt="logo" class="w-16 h-16" />
                        <p class="text-lg capitalize font-lobster text-p-900">Tea Station</p>
                    </a>

                    <!-- Nav Links -->
                    <nav class="items-center justify-end hidden w-full gap-4 lg:flex lg:gap-8">
                        <a href="./products.html" class="navLink">Sản Phẩm</a>
                        <a href="./cart.html" class="navLink">Giỏ hàng</a>
                        <a href="./#story" class="navLink">Giới Thiệu</a>
                        <a href="./#contact" class="navLink">Liên Hệ</a>
                        <a href="./register.html" class="navLink">Đăng ký</a>
                        <a href="./login.html" class="navLink">Đăng nhập</a>
                    </nav>

                    <!-- Hamburger Icon -->
                    <div class="block cursor-pointer lg:hidden" id="toggle_btn">
                        <img src="../public/assets/Menu Icon.svg" alt="hamburger icon" class="size-5" />
                    </div>

                    <!-- Mobile Menu -->
                    <div class="dropdown-menu lg:hidden">
                        <a href="./products.html" class="navLink mobileNavLink">Sản Phẩm</a>
                        <a href="#story" class="navLink mobileNavLink">Giới Thiệu</a>
                        <a href="#contact" class="navLink mobileNavLink">Liên Hệ</a>
                    </div>
                </div>
            </div>
        </header>

        <!----------------- 
        Hero 
    ------------------>
        <section id="hero" class="h-screen max-h-275 bg-linear-to-t from-p-100 to-white overflow-y-clip"></section>

        <!----------------- 
        Partner Logos 
    ------------------>
        <section id="partner-logos">
            <div class="container">
                <!-- heading -->
                <div data-aos="fade-right" class="mt-10">
                    <h2 class="sub_heading">Có mặt tại</h2>
                    <h1 class="main_heading">Những Nhà Phân Phối <span class="text-gradient">Uy Tín</span></h1>
                </div>
                <!-- logos -->
                <div class="flex mt-9 md:mt-16 mask-[linear-gradient(to_right,transparent,black,transparent)]">
                    <div id="partner-logo-list" class="flex flex-none logos-wrapper gap-14 pl-14"></div>
                </div>
            </div>
        </section>

        <!----------------- 
        Products
    ------------------>
        <section id="products">
            <div class="container">
                <div class="flex flex-col gap-9">
                    <!-- heading -->
                    <div data-aos="fade-right" class="mt-10">
                        <h2 class="sub_heading">Tìm hiểu</h2>
                        <h1 class="main_heading">sản phẩm <span class="text-gradient">trà ngon</span></h1>
                    </div>
                    <!-- tabs -->
                    <div id="products-tabs"></div>
                </div>
            </div>
        </section>

        <!----------------- 
        Slogan
    ------------------>
        <section id="slogan" class="mt-20 overflow-clip"></section>

        <!----------------- 
        Features
    ------------------>
        <section id="features">
            <div class="container relative m-20 text-center"></div>
        </section>

        <!----------------- 
       Best Sellers
    ------------------>
        <section id="best-sellers">
            <div class="container my-20">
                <!-- tiêu đề -->
                <div class="flex flex-col items-start md:items-center lg:items-start">
                    <div data-aos="fade-right">
                        <h2 class="sub_heading">Khách hàng yêu thích</h2>
                        <h2 class="main_heading">Những Sản Phẩm <span class="text-gradient">Bán Chạy Nhất</span></h2>
                    </div>

                    <p
                        data-aos="fade-right"
                        data-aos-delay="100"
                        class="max-w-lg pr-16 mt-2 text-xs text-start md:text-center lg:text-start text-n-500"
                    >
                        Khám phá những sản phẩm bán chạy nhất của chúng tôi, nơi chất lượng kết hợp hương vị trong mỗi tách trà. Hãy tham gia cùng
                        hàng ngàn khách hàng hài lòng đã biến những hỗn hợp này thành sở thích của họ và nâng tầm thời gian uống trà của bạn ngay hôm
                        nay!
                    </p>
                </div>

                <!-- carousel sản phẩm  -->
                <div class="lg:px-4 md:x-2 mt-9 slider">
                    <!-- sản phẩm 1 -->
                    <div class="flex! flex-col lg:flex-row items-center justify-between">
                        <!-- phần bên trái -->
                        <div class="flex-1 best-product--left">
                            <div class="best-product-info">
                                <h3>Peppermint Velvet</h3>
                                <p>
                                    Mỗi ngụm mang đến sự pha trộn hài hòa giữa hương vị đậm đà và hương thơm sảng khoái, khiến đây trở thành lựa chọn
                                    lý tưởng cho cả nghi lễ buổi sáng và giờ nghỉ giải lao buổi chiều. Trải nghiệm sự ấm áp dễ chịu và những phẩm chất
                                    tràn đầy năng lượng đã khiến trà đen trở thành thức uống cổ điển được yêu thích trong nhiều thế kỷ.
                                </p>
                            </div>

                            <!-- thanh tiến trình -->
                            <div class="benefit-bars" id="firstbar">
                                <!-- hàng trên -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường năng lượng và tập trung</h4>
                                        <div progress-bar data-percentage="94%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Giàu chất chống oxy hoá</h4>
                                        <div progress-bar data-percentage="93%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- hàng dưới -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường trao đổi chất</h4>
                                        <div progress-bar data-percentage="90%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Thúc đẩy sự bình tĩnh và thư giãn</h4>
                                        <div progress-bar data-percentage="95%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- phần bên phải -->
                        <div>
                            <img src="../public/assets/products/matcha1.jpg" alt="best-sellers-product" />
                        </div>
                    </div>

                    <!-- sản phẩm 2 -->
                    <div class="flex! flex-col lg:flex-row items-center justify-between">
                        <!-- phần bên trái -->
                        <div class="flex-1 best-product--left">
                            <div class="best-product-info">
                                <h3>Chamomile Bliss</h3>
                                <p>
                                    Mỗi ngụm mang đến sự pha trộn hài hòa giữa hương vị đậm đà và hương thơm sảng khoái, khiến đây trở thành lựa chọn
                                    lý tưởng cho cả nghi lễ buổi sáng và giờ nghỉ giải lao buổi chiều. Trải nghiệm sự ấm áp dễ chịu và những phẩm chất
                                    tràn đầy năng lượng đã khiến trà đen trở thành thức uống cổ điển được yêu thích trong nhiều thế kỷ.
                                </p>
                            </div>

                            <!-- thanh tiến trình -->
                            <div class="benefit-bars">
                                <!-- hàng trên -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường năng lượng và tập trung</h4>
                                        <div progress-bar data-percentage="96%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Giàu chất chống oxy hoá</h4>
                                        <div progress-bar data-percentage="97%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- hàng dưới -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường trao đổi chất</h4>
                                        <div progress-bar data-percentage="90%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Thúc đẩy sự bình tĩnh và thư giãn</h4>
                                        <div progress-bar data-percentage="89%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- phần bên phải -->
                        <div>
                            <img src="../public/assets/products/blacktea1.jpg" alt="best-sellers-product" />
                        </div>
                    </div>

                    <!-- sản phẩm 3 -->
                    <div class="flex! flex-col lg:flex-row items-center justify-between">
                        <!-- phần bên trái -->
                        <div class="flex-1 best-product--left">
                            <div class="best-product-info">
                                <h3>Lemon Ginger Zest</h3>
                                <p>
                                    Mỗi ngụm mang đến sự pha trộn hài hòa giữa hương vị đậm đà và hươngAdd commentMore actions thơm sảng khoái, khiến
                                    đây trở thành lựa chọn lý tưởng cho cả nghi lễ buổi sáng và giờ nghỉ giải lao buổi chiều. Trải nghiệm sự ấm áp dễ
                                    chịu và những phẩm chất tràn đầy năng lượng đã khiến trà đen trở thành thức uống cổ điển được yêu thích trong
                                    nhiều thế kỷ.
                                </p>
                            </div>

                            <!-- thanh tiến trình -->
                            <div class="benefit-bars">
                                <!-- hàng trên -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường năng lượng và tập trung</h4>
                                        <div progress-bar data-percentage="85%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Giàu chất chống oxy hoá</h4>
                                        <div progress-bar data-percentage="95%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- hàng dưới -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường trao đổi chất</h4>
                                        <div progress-bar data-percentage="88%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Thúc đẩy sự bình tĩnh và thư giãn</h4>
                                        <div progress-bar data-percentage="99%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- phần bên phải -->
                        <div>
                            <img src="../public/assets/products/whitetea1.jpg" alt="best-sellers-product" />
                        </div>
                    </div>

                    <!-- sản phẩm 4 -->
                    <div class="flex! flex-col lg:flex-row items-center justify-between">
                        <!-- phần bên trái -->
                        <div class="flex-1 best-product--left">
                            <div class="best-product-info">
                                <h3>Mystic Earl Grey</h3>
                                <p>
                                    Mỗi ngụm mang đến sự pha trộn hài hòa giữa hương vị đậm đà và hươngAdd commentMore actions thơm sảng khoái, khiến
                                    đây trở thành lựa chọn lý tưởng cho cả nghi lễ buổi sáng và giờ nghỉ giải lao buổi chiều. Trải nghiệm sự ấm áp dễ
                                    chịu và những phẩm chất tràn đầy năng lượng đã khiến trà đen trở thành thức uống cổ điển được yêu thích trong
                                    nhiều thế kỷ.
                                </p>
                            </div>

                            <!-- thanh tiến trình -->
                            <div class="benefit-bars">
                                <!-- hàng trên -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường năng lượng và tập trung</h4>
                                        <div progress-bar data-percentage="83%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Giàu chất chống oxy hoá</h4>
                                        <div progress-bar data-percentage="89%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- hàng dưới -->
                                <div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Tăng cường trao đổi chất</h4>
                                        <div progress-bar data-percentage="97%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-1 progressbar-item">
                                        <h4 class="progress-title">Thúc đẩy sự bình tĩnh và thư giãn</h4>
                                        <div progress-bar data-percentage="99%">
                                            <div class="progress-number">
                                                <div class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </div>
                                            </div>
                                            <div class="progress-bg">
                                                <div class="progress-fill"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- phần bên phải -->
                        <div>
                            <img src="../public/assets/products/oolong1.jpg" alt="best-sellers-product" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!----------------- 
       Stats
    ------------------>
        <section id="stats" class="relative mt-20 bg-fixed bg-center bg-no-repeat bg-cover bg-[url(../public/assets/statsBg.jpg)]"></section>

        <!----------------- 
      Story
    ------------------>
        <section id="story"></section>

        <!----------------- 
    Contact
    ------------------>
        <section id="contact">
            <div class="container my-20">
                <div class="flex flex-col w-full gap-10 lg:flex-row">
                    <!-- thông tin liên hệ -->
                    <div class="flex h-128.75 flex-col items-center justify-center flex-1 w-full px-10 py-20 border border-dotted border-p-600 gap-9">
                        <!-- tiêu đề -->
                        <div data-aos="fade-down">
                            <h2 class="sub_heading">Có câu hỏi?</h2>
                            <h1 class="main_heading">Liên hệ tea station tại</h1>
                        </div>

                        <!-- địa chỉ -->
                        <div class="contact-info">
                            <div>
                                <img src="../public/assets/building.svg" alt="building" class="size-4" />
                                <h1>Địa Chỉ</h1>
                            </div>

                            <p>123 Phan Đình Phùng, Phường 1, Quận Tân Bình, Thành phố Hồ Chí Minh, VN</p>
                        </div>

                        <!-- email -->
                        <div class="contact-info">
                            <div>
                                <img src="../public/assets/mail.svg" alt="building" class="size-4" />
                                <h1>Email</h1>
                            </div>

                            <p>test.service@example.com</p>
                        </div>

                        <!-- số điện thoại -->
                        <div class="contact-info">
                            <div>
                                <img src="../public/assets/phone.svg" alt="building" class="size-4" />
                                <h1>Điện Thoại</h1>
                            </div>

                            <p>(+1) 823 456 789</p>
                        </div>
                    </div>

                    <!-- form đăng ký theo dõi -->
                    <div
                        class="relative text-center flex flex-col items-center w-full flex-1 h-128.75 px-10 py-20 gap-9 border border-p-600 overflow-clip"
                    >
                        <!-- heading -->
                        <div data-aos="fade-down">
                            <h2 class="sub_heading">Cập nhập bản tin</h2>
                            <h1 class="main_heading">Đăng ký theo dõi</h1>
                        </div>

                        <p>Đăng ký nhận bản tin của chúng tôi và cập nhật thông tin.</p>

                        <!-- email input -->
                        <div class="relative w-62.5 md:w-87.5">
                            <input type="email" placeholder="Nhập địa chỉ email của bạn" class="w-full px-12 py-3 border border-p-600" />
                            <img src="../public/assets/mail2.svg" alt="mail icon" class="absolute -translate-y-1/2 top-1/2 left-4" />
                        </div>

                        <!-- nút theo dõi -->
                        <button class="flex-none border-p-600! w-62.5 md:w-87.5">
                            <div class="capitalize btn bg-p-600! hover:bg-p-700!">
                                <span class="w-full text-center">Đồng Ý Theo Dõi</span>
                            </div>
                        </button>

                        <!-- hình decor -->
                        <img src="../public/assets/contact.png" alt="decor" class="absolute -bottom-20 -right-20 w-100 opacity-15 -z-10" />
                    </div>
                </div>
            </div>
        </section>

        <!----------------- 
    Footer
    ------------------>
        <footer class="bg-p-950">
            <div class="container text-white/50">
                <p class="text-center mt-9">© Tea Station's Copyright 2025</p>
            </div>
        </footer>
        <script type="module" src="../dist/jsCompile/app.js"></script>
    </body>
</html>
