<!doctype html>
<html lang="en">
    <head id="head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tea Station</title>
        <link rel="icon" type="image/png" href="../public/assets/logo.png" />

        <!--------------- 

    CSS
    
    ----------------->
        <link type="text/css" rel="stylesheet" href="../public/css/showHideNav.css" />
        <link type="text/css" rel="stylesheet" href="../public/css/responsive-tabs.css" />
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
        <link rel="stylesheet" type="text/css" href="../public/css/animated-counter-prograssbar.css" />
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
        <link href="../public/css/animation.css" rel="stylesheet" />
        <link href="../dist/output.css" rel="stylesheet" />

        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap"
            rel="stylesheet"
        />

        <!-- JQuery -->

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>

        <!--------------- 

    Scripts
    
    ----------------->
        <script src="../public/js/jquery.hidescroll.js" defer></script>
        <script src="../public/js/jquery.responsiveTabs.js" defer></script>
        <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="../public/js/animated-counter-prograssbar.js" defer></script>
        <script defer src="https://unpkg.com/counterup2@2.0.2/dist/index.js"></script>
        <script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script defer type="module" src="../public/js/main.js"></script>
    </head>
    <body>
        <!----------------- 
        Navigation
    ------------------>
        <header class="relative z-50" id="header"></header>

        <!----------------- 
       Tất cả sản phẩm
    ------------------>
        <section id="products">
            <main class="container mt-20">
                <!-- banner -->
                <div id="pageContent"></div>

                <!-- filter tabs -->
                <div id="allProduct-filters" class="flex gap-8 mt-4 md:mt-9"></div>

                <!-- sản phẩm -->
                <section id="product-wrapper">
                    <div class="mt-9">
                        <div id="product-items--container" class="grid grid-cols-3 gap-4 md:grid-cols-6 lg:grid-cols-12"></div>
                    </div>
                </section>
            </main>
        </section>
        <footer id="footer" class="pt-16 pb-8 text-white bg-p-950"></footer>
        <script type="module" src="../dist/jsCompile/app.js"></script>
    </body>
</html>
